.footer {
    padding:50px 40px 0px 40px;
}
.footer a{
    color: var(--subtitle);
    font-size: 20px;
}
.footer .social a{
    transition: .4s;
}
.footer .social a:hover{
    color: var(--iconHover);
    scale: .8;
}
.footer p{
    color: var(--subtitle);
    font-size: 12px;
}


@media (max-width:400px) {

    .footer {
        padding: 20px;
    }
    .footer p{
        color: var(--subtitle);
        font-size: 10px;
    }
    .first{
       display: flex;
       justify-content: center;
    }
   
}